// app global css in SCSS form
@media (min-width: 768px) {
  aside.q-drawer {
    display: none;
  }
}

.absolute-x-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.q-item.q-router-link--exact-active {
  border-bottom: 2px solid #000;
}
